# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BuildingBlocks.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Behzad\RiderProjects\BuildingBlocks\.idea\.idea.BuildingBlocks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
